---
import '@fontsource/roboto';
import "open-props/style";
import "open-props/buttons";
---

<div class="wrapper">
    <h1 class="guh">GUH</h1>
    <h1>FENG</h1>
    <h3>Just Another Blog</h3>
    <nav>
        <a href="/blog">
            <div class="button">Blog</div>
        </a>
        <a href="/ideas">
            <div class="button">Ideas</div>
        </a>
        <a href="/portfolio">
            <div class="button">Portfolio</div>
        </a>
    </nav>
</div>
    
<style>
    .wrapper{
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 10%;
    }

    h1{
        margin: auto;
        
        font-family: 'Roboto', sans-serif;
        font-size: min(24vw, 15em);
        font-weight: 900;
        text-align: center;
        color: var(--gray-7);
        line-height: 90%;
    }

    .guh{
        position: relative;
        right: 1vw;
    }

    h3{
        margin: 0 0 0 0;
        /* border: solid 1px black; */
        font-family: Arial, Helvetica, sans-serif;
        font-size: min(7vw, 4em);
        font-weight: normal;
        color: var(--gray-7);
        text-align: center;
        line-height: 100%;
    }
    
    nav{
        position: relative;
        margin: 1em auto auto auto;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100vw;
        height: 100%;
        justify-content: center;
        background: var(--yellow-2);
    }

    a{
        margin: 1em 2em 0.8em 2em;
        padding: 1em 0 1em 0;
        width: min(15em, 45vw);
        height: min(5em, 15vw);
        border: var(--gray-7);
        border-style: solid;
        border-radius: 3em;
        
        color: var(--gray-7);
        text-decoration: none;
    }
    
    .button{
        display: flex;
        justify-content: center;
        font-size: min(3.5em, 10vw);
    }

    @media (min-width: 640px) {
        .wrapper{
            
        }

        h1{
        }
        
        h3{
        }

        .ribbon{
        }

        nav{
        }
    }

</style>